/__pycache__
/model-echr-bert
/.DS_Store
/src/__pycache__
/ECHR_Dataset/EN_dev
/ECHR_Dataset/EN_dev_Anon
/ECHR_Dataset/EN_test
/ECHR_Dataset/EN_test_Anon
/ECHR_Dataset/EN_train
/ECHR_Dataset/EN_train_Anon
/ECHR_Dataset.zip
ECHR_Dataset/.DS_Store
embeddings_datasets/legal-bert-base-uncased/__MACOSX/._test_dataset.pt
embeddings_datasets/legal-bert-base-uncased/__MACOSX/._train_dataset.pt
embeddings_datasets/legal-bert-base-uncased/train_dataset.pt
embeddings_datasets/legal-bert-base-uncased/test_dataset.pt
embeddings_datasets/legal-bert-base-uncased/dataset.zip
/ECHR_Dataset_Tokenized
embeddings.pt
/embeddings
embeddings_dev.pt
hlt-project.code-workspace
dev_labels.pkl
train_labels.pkl
test_labels.pkl
legal_embeddings/legal-bert-base-uncased/emb_dev_cpu.pkl
legal_embeddings/legal-bert-base-uncased/emb_dev.pkl
legal_embeddings/legal-bert-base-uncased/emb_test_cpu.pkl
legal_embeddings/legal-bert-base-uncased/emb_test.pkl
legal_embeddings/legal-bert-base-uncased/emb_tr_cpu.pkl
legal_embeddings/legal-bert-base-uncased/emb_tr.pkl
legal_embeddings/.DS_Store
/embeddings_datasets
/models
/models
notebook/hierbert.pt
